version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      REACT_APP_API_URL: ${REACT_APP_API_URL}
    depends_on:
      - backend
    networks:
      - dev_conn-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    environment:
      NODE_ENV: production
      MONGODBURI: ${MONGODBURI}           
      JWTSECRET: ${JWTSECRET}            
      TOKEN_EXPIRES_IN: ${TOKEN_EXPIRES_IN}
    networks:
      - dev_conn-network

networks:
  dev_conn-network:
    driver: bridge
